.mdl-button {
  margin: 10px;
}

.flex { 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.about-image70 {
  max-width: 70%;
  margin: auto;
  display: block;
}

.about-image20 {
  max-width: 20%;
  margin: auto;
  display: block;
  padding-bottom: 5%;
}

.padding10 {
  padding-left: 10%;
  padding-right: 10%;
}
